<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ isnew ? 'Crear' : 'Editar' }} producto</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" formControlName="name" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Cantidad</label>
                    <input type="text" formControlName="quantity" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Fecha ingreso</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="entryDate"
                            ngbDatepicker #d="ngbDatepicker" />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
                            <fa-icon icon="calendar"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div [class]="isnew ? 'col' : 'col-md-6'">
                <div class="form-group">
                    <label for="">Usuario creador</label>
                    <ngx-select (typed)="searchQueryCreador($event)" optionTextField="fullname"
                        [items]="filterUsuarioCre" formControlName="createUserId"></ngx-select>
                </div>
            </div>
            <div class="col-md-6" *ngIf="!isnew">
                <div class="form-group">
                    <label for="">Usuario modificador</label>
                    <ngx-select (typed)="searchQueryMod($event)" optionTextField="fullname" [items]="filterUsuarioMod"
                        formControlName="createUserId"></ngx-select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="save()">Guardar</button>
</div>